@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .root {
    @apply h-full bg-backdrop text-white antialiased select-none;
  }
  .root {
    @apply flex flex-col;
  }
  .wrapper {
    height: calc(100vh - theme('spacing.24'));
    @apply flex;
  }
  .scrollable {
    scroll-behavior: smooth;
  }
}

@layer utilities {
  .animation-delay-200 {
    animation-delay: 0.2s;
  }
  .animation-delay-400 {
    animation-delay: 0.4s;
  }
}

.circle {
  @apply w-4 h-4 my-12 mx-1 bg-gray-500 rounded-full;
}
